[General]
ReportStats=false

[UartEndpoint pixhawk]
Device=/dev/ttyAMA0
Baud=921600
FlowControl=true

# Router -> App fan-out
[UdpEndpoint monitoring]
Mode=Normal
Address=127.0.0.1
Port=14550

# stream pair: odometry receive (router -> app)
[UdpEndpoint stream_odometry]
Mode=Normal
Address=127.0.0.1
Port=14551

[UdpEndpoint console]
Mode=Normal
Address=127.0.0.1
Port=14552

[UdpEndpoint scan]
Mode=Normal
Address=127.0.0.1
Port=14553

# App -> Router ingress
# stream pair: commander send (app -> router)
[UdpEndpoint stream_commander_ingress]
Mode=Server
Address=127.0.0.1
Port=14651

[UdpEndpoint console_ingress]
Mode=Server
Address=127.0.0.1
Port=14652

[UdpEndpoint scan_ingress]
Mode=Server
Address=127.0.0.1
Port=14653
